!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blogify
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  %body
    = render 'layouts/navbar'
    /= render 'layouts/sidemenu'
    
    .site-container
      -if flash.any?
        - flash.each do |key, value|
          %div{:class => "flash_div alert text-center"}
            = value
      =render 'layouts/footer'
      .content
        = yield
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Roboto" rel="stylesheet">
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=dk6xyk2jn1zddb4nvdud54uk8jtosk6ju4zwmymjmjvkvzq3"></script>

:javascript

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '408791222974805',
      xfbml      : true,
      version    : 'v3.1'
    });
  
    FB.AppEvents.logPageView();  
  };

  function load_more(id){
    var value = parseInt($('#'+id).find('#page_num').attr('value')) + 1;
    console.log(value);
    $.getScript(getRightUrl()+'/posts/'+id+'/comments?page='+value);
  }

  $(document).ready(function(){ 
    for(var i = 0; i < $('.comments_list').length; i++){
      var length = $('.comments_list')[i].innerHTML.length;
      if(length < 1){
        var id = $('.comments_list')[i].id;
        var url = getRightUrl()+'/posts/'+id+'/comments';
        $('#'+id).html('<img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." />')
        $('#'+id).load(url);
      } 
    }

    $('img').error(function(){
      this.src = '/assets/Placeholder-709ddea8090ccef7835963d0cfa061276b412c3f3fab5128aff79b266989f3ba.png';
    })
  })